.centered_image

{
	
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  padding: 20px;
	
}

.centered_text
{
	
text-align: center;
	
}


.header{
	
	width: 100%;
	height: 70px;
	display: block;
	background-color: #5D8796;
	vertical-align: center;
	text-align: center;
	padding-top: 5px;
	
}

footer{
	
	width: 100%;
	height: 40px;
	display: block;
	background-color: #5D8796;
	vertical-align: center;
	text-align: center;
	padding-top: 12px;
}

.credits{
	
  color: #B0D3E5;
  display: block;
  position: fixed;
  bottom: 0;
  text-align: center;
  vertical-align: center;
		
}



*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
  font-family: 'Josefin Sans', sans-serif;
}

body{
   background-color: #f3f5f9;
   background-image: url('bg3.jpeg');
   background-size: cover;
   background-attachment: fixed;
   background-position: center;
}


/* Create two unequal columns that floats next to each other */
/* middle column */
.middlecolumn {
	
  text-align: center;
  display:flex;
  justify-content:center;
  color: #f3f5f9;
  
  
  
}


/* Add a card effect for articles */
.card {
  padding: 20px;
  margin-top: 20px;
  color: #f3f5f9;
  	box-shadow: inset 0 0 0 2px White;
	text-align: center;
	border-radius: 25px;
	display: block;
	margin: auto;
	background-color: rgba(93, 135, 150, 0.7);
	opacity: 100%;
	width: 40%;
}

/* Clear floats after the columns */
.row:after {
	
  content: "";
  display: table;
  clear: both;
}

/* Clear floats after the columns */
.row:before {
	
   content: "\a";
   white-space: pre;
   
	
}

/* Responsive layout - when the screen is less than 800px wide, make the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 800px) {
  .leftcolumn, .rightcolumn {
    width: 100%;
    padding: 0;
  }
}

.wrapper{
  display: flex;
  position: relative;
}

.wrapper .sidebar{
  width: 170px;
  height: 100%;
  background: #4F707F;
  padding: 21px 0px;
  position: fixed;
}

.wrapper .sidebar h2{
  color: #ffffff;
  text-transform: uppercase;
  text-align: center;
  margin-bottom: 21px;
  vertical-align: center;
}

.wrapper .sidebar ul li{
  padding: 15px;
  border-bottom: 2px solid #BCCADB;
  border-bottom: 2px solid rgba(0,0,0,0.05);
  border-top: 1px solid rgba(255,255,255,0.05);
}    

.wrapper .sidebar ul li a{
  color: #B0D3E5;
  display: block;
}

.wrapper .sidebar ul li a .fas{
  width: 25px;
}

.wrapper .sidebar ul li:hover{
  background-color: #7EB3CC;
}
    
.wrapper .sidebar ul li:hover a{
  color: #ffffff;
}
